html, body {
	height: 100%;
	margin: 0;
}

#map {
	width: 600px;
	height: 400px;
}

body { 
    padding: 0; 
    margin: 0; 
} 

#map { 
    height: 100%; 
    width: 100vw; 
}

.leaflet-control-geosearch.bar {
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 30%;
    height: 25px;
    background: #6b5b95;
    outline: none;
    display: inline-block;
    vertical-align: middle;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

.toggle {
    background-color: #6b5b95;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    vertical-align: middle;
}

.toggle-down {
    background-color: #453a5f;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #eaeaea;
    border-right: solid 2px #eaeaea;
}

.hidden {
    visibility: hidden;
}

.time {
    background-color: #6b5b95;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    vertical-align: middle;
}

.leaflet-control {
    float: none;
    display: inline-block;
}

.leaflet-bottom {
    text-align: center;
    width: 100%;
}

.leaflet-control-zoom {
    vertical-align: middle;
}
  
.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #6b5b95;
    color: white;
}
