html, body {
	height: 100%;
	margin: 0;
}

#map {
	width: 600px;
	height: 400px;
}

body { 
    padding: 0; 
    margin: 0; 
    font-family: Tahoma, Geneva, sans-serif;
} 

h3 {
    text-align: center;
}

#map { 
    height: 100%; 
    width: 100vw; 
}

.leaflet-control-geosearch.bar {
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 35px;
    background: #6b5b95;
    outline: none;
    display: inline-block;
    vertical-align: middle;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

.toggle {
    background-color: #6b5b95;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    vertical-align: middle;
}

.toggle-down {
    background-color: #453a5f;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #eaeaea;
    border-right: solid 2px #eaeaea;
}

.hidden {
    visibility: hidden;
}

.time {
    background-color: #6b5b95;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    vertical-align: middle;
}

.leaflet-control {
    float: none;
    display: inline-block;
}

.leaflet-bottom {
    text-align: center;
    width: 100%;
    background-color: #c7c0d8;
}

.leaflet-control-zoom {
    vertical-align: middle;
}

.leaflet-control-zoom {
    margin-top: 5px;
    margin-bottom: 5px;
}
  
.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #6b5b95;
    color: white;
}

.slider-icon {
    vertical-align: middle
}

/* DEVELOPMENT */

/* The Modal (background) */
#help {
    /* display: none; /* Hidden by default */ 
    display: block; /* Visible by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#help-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
#help-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#help-close:hover, #help-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
