<!DOCTYPE html>
<html>
<head>
    <title>A simple Leaflet example map with some controls</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <style type="text/css">html, body, #map {height:100%; width:100%; padding:0px; margin:0px;}</style>

    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
</head>
<body>
    <div id="map"></div>
    <script>
        // init the map object
        var map = L.map('map', {
            center: [40.75, -74.15],
            zoom: 13
        });

        // we add some test layers here
        var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

        var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: osmAttrib
        });
        var cycle = L.tileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: osmAttrib
        });
        var mapQuest = L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg', {
            maxZoom: 19,
            attribution: osmAttrib,
            options: {
                subdomains: '1234'
            }
        }).addTo(map); // this will be our active base layer on startup

        // a layer group with one marker
        var cities = new L.LayerGroup([
            L.marker([40.72801, -74.07772]).bindPopup('Jersey City')
        ]);
        cities.addTo(map);

        // an image overlay that will be added to the overlays of a layer switcher
        var image = L.imageOverlay(
            'http://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg',
            [[40.712216, -74.22655], [40.773941, -74.12544]], {
            opacity: .6
        }).addTo(map);

        // init a simple layer switcher with overlays an mutual exclusive base layers
        var baseLayers = {
            "OpenStreetMap": osm,
            "OpenCycleMap": cycle,
            "MapQuest": mapQuest
        };
        var overlays = {
            "Städte": cities,
            "Bilder": image
        };
        L.control.layers(baseLayers, overlays).addTo(map);

        // init a map scale
        L.control.scale().addTo(map);

        // listen to click events to show a popup window
        // the content of the popup is plain html
        // this is a nice example how function chaining is possible with Leaflet
        map.on('click', function(e) {
        var popup = L.popup()
            .setLatLng(e.latlng)
            .setContent('<p>Hello, world!</p>')
            .openOn(map);
        });
    </script>
</body>
</html>

