h1 {
    text-align: center; 
}

#parasol-map {
    height: 700px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.slidecontainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    -webkit-appearance: none;
    height: 25px;
    width: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
